{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    <ul class="listings">
        {% for listing in listings %}
            <li class="shadow p-3 mb-5 bg-white rounded">
                <div>
                    <img src={{listing.image_url}} alt="Cannot display the image" />
                </div>
                <div>
                    <h5><a href="{% url 'auction_listing' listing.id %}">{{listing.title}}</a></h5>
                    <h5>Price: ${{listing.bids.last.bid}}</h5>
                    <p>{{listing.description}}</p>
                </div>
            </li>
        {% empty %}
            <h3>No active listings. Come back later :)</h3>
        {% endfor %}
    </ul>
{% endblock %}